<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>836123468868-qvoioi2frkaf04h04va1pegoinhp8ku2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.836123468868-qvoioi2frkaf04h04va1pegoinhp8ku2</string>
	<key>API_KEY</key>
	<string>AIzaSyDzMmpnMVhYMfRhB3GD4ik1doHTDsjwVWE</string>
	<key>GCM_SENDER_ID</key>
	<string>836123468868</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shreya.Airdnd</string>
	<key>PROJECT_ID</key>
	<string>airdnd-1a6b8</string>
	<key>STORAGE_BUCKET</key>
	<string>airdnd-1a6b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:836123468868:ios:17850eb7e0d601a07a0811</string>
	<key>DATABASE_URL</key>
	<string>https://airdnd-1a6b8.firebaseio.com</string>
</dict>
</plist>